.container__createTask {
  width: 100%;
}

.container__fromTask {
  width: 100%;
}

.create__label-container {
  width: 75%;
  float: right;
}

.create__label-input {
  font-family: var(--base-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--placeholder);
}