.home{
    background-color: white;
    max-width: 1100px;
    margin: auto;
    display: flex;
    height: 500px;
    border-radius: 5px;
    box-shadow: var(--shadow);
    /* height: 100px;
    min-height: 100px;
    overflow: scroll; */
}

@media (max-width: 767px) {

}