.home {
  display: flex;
}

.label__list {
  list-style: none;
}

.label__container {
  border-right: var(--border-grey);
  padding: 20px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 170px;
  width: 25%;
}

@media (max-width: 991px) {
  .label__container {
    display: none;
  }

  .container {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }
  .container {
    width: 100vw;
    height: 100vh;
    padding: 20px;
  }
}
