.home {
  display: flex;
  padding: 0;
}

.label__list {
  list-style: none;
}

.label__container {
  padding: 120px 0px 0px 3%;
  display: flex;
  justify-content: flex-start;
  width: 25%;
  max-height: 350px ;
}

.border-home{
  border-right: var(--border-grey);
} 

.title__hr--mobile {
  display: none;
}

@media (max-width: 767px) {
  body {
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100vw;
    height: 93vh;
    padding: 15px;
  }

  .label__container {
    display: none;
  }

  .border-home {
    display: none;
  }

  .title__hr--mobile {
    display: block;
    width: 100%;
    border-top: 0;
    border-color: var(--border-gray);
  }
}


