.taskitem__container {
  display: flex;
  margin-bottom: 15px;
}

.checkbox-style {
  width: 30px;
  height: 30px;
  display: block;
  margin: auto;
  margin-left: 0;
  margin-right: 0;
}

.edit-btn {
  border: none;
  background-color: inherit;
}

.delete-btn {
  border: none;
  background-color: inherit;
}

.taskitem__late {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border: 2px solid red;
  padding: 10px 10px;
  border-radius: 8px;
  margin-left: 15px;
  background-color: var(--bg-main);
  align-items: center;
}
.taskitem__content {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border: var(--border-grey);
  padding: 10px 10px;
  border-radius: 8px;
  margin-left: 15px;
  background-color: var(--bg-main);
  align-items: center;
}

.task-title,
.task-date {
  font-family: var(--text-font);
}

.task-date {
  margin-top: 10px;
  font-weight: 200;
  color: var(--text-grey);
}

.btn-label {
  height: 25px;
  line-height: 13px;
  font-family: var(--base-font);
  padding: 5px 0;
  border: none;
  background-color: var(--bg-general);
  width: 115px;
  border-radius: 5px;
  color: var(--text-white);
  text-align: center;
  align-self: flex-start;
  display: inline-block;
  margin-left: 15px;
  font-size: 12px;
}

.task-text__container {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  width: 100%;
}

.task-buton__container {
  display: flex;
  gap: 15px;
  margin-left: 15px;
}

.task-titlelabel__container {
  display: flex;
  align-items: center;
}

.fas {
  padding: 0;
}

.remove {
  display: none;
  opacity: 0;
}

@media (max-width: 767px) {
  .task-titlelabel__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .btn-label {
    margin-left: 0;
  }
}
