.label-item {
  font-family: var(--text-font);
  font-weight: 400;
  margin: 15px;
  color: var(--text-grey);
}

.label-link {
  color: var(--text-grey);
  text-decoration: none;
  font-size: 22px;
  line-height: 26px;
  background: 0;
  border: none;
}

.label-link:hover {
  color: var(--li-active);
}

.label-link:focus {
  color: red;
}
