.container__formTask {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
  width: 100%;
}

label {
  padding: 20px 0px;
}

hr {
  width: calc(100% - 63px) ;
  margin-left: 63px;
}

.select__container {
  width: 75%;
  float: right;
  padding-left: 45px;

}

.edit__label-select {
  
  appearance: none;
  border: none;
  outline: none;
  height: 25px;
  line-height: 13px;
  font-family: var(--base-font);
  padding: 5px 0;
  border: none;
  background-color: var(--bg-general);
  width: 115px;
  border-radius: 5px;
  color: var(--text-white);
  text-align: center;
  align-self: flex-start;
  display: inline-block;
  font-size: 12px;
}

.edit-task__input {
  height: 25px;
  border: none;
  background-color: inherit;
  font-family: var(--base-font);
  font-size: 18px;
  line-height: 22px;
  width: 75%;
  float: right;
  color: var(--placeholder);
}

.edit__instruction {
  color: var(--text-grey);
  padding-left: 63px;
}


.edit-task__label {
  line-height: 10px;
  font-family: var(--base-font);
  padding: 5px 0;
  border: none;
  background-color: var(--bg-general);
  width: 115px;
  border-radius: 5px;
  color: var(--text-white);
  text-align: center;
  align-self: flex-start;
  display: inline-block;
  margin-left: 50px;
}

.edit-task__title-input {
  width: 100%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 37px;
  border: none;
  background-color: inherit;
  margin-bottom: 30px;
}

.edit__title-container {
  display: flex;
  gap: 35px;
}


@media (max-width: 767px) {
  .edit-task__title-input {
    padding-left: 0;
  }

  .edit__instruction {
    padding-left: 0;
  }

  hr {
    width: 100%;
    margin-left: 0;
  }

  .select__container {
    padding-left: 0;
  }
}