.container__formTask {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 20px;
  width: 100%;
}

label {
  padding: 20px;
}

hr {
  width: 100%;
}

.edit-task__input {
  width: 75%;
  height: 25px;
  padding: 5px;
  float: right;
  border: none;
  background-color: inherit;
  font-family: var(--base-font);
  font-size: 18px;
  line-height: 22px;
}

.edit-task__title-input {
  width: 100%;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 31px;
  line-height: 37px;
  border: none;
  background-color: inherit;
  padding: 0 20px;
}
